.list {
    --trans-time: 0.15s;
}

.item {
    opacity:0.7;
    -webkit-transition: all var(--trans-time) ease-in;
    -moz-transition: all var(--trans-time) ease-in;
    -o-transition: all var(--trans-time) ease-in;
    transition: all var(--trans-time) ease-in;
}

.item:hover,
.item:focus {
    opacity: 1;
}